<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>GEOTEST</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <script src="https://kit.fontawesome.com/edd7f6e0ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g=="
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light-blue/main.css"/>
    <script src="https://js.arcgis.com/4.16/"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>


<body>
<header style="color:#F5F5F7;">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
                <div class="custom-control custom-switch">
                    <Label style="margin-top:10px; float:left;color:#F5F5F7">Model:&nbsp;</Label> <input id="ow"
                                                                                                         type="checkbox"
                                                                                                         checked
                                                                                                         data-toggle="toggle"
                                                                                                         data-size="xs"
                                                                                                         data-on="Aurora"
                                                                                                         data-off="EPOT"
                                                                                                         data-height="37"
                                                                                                         data-onstyle="dark"
                                                                                                         data-offstyle="light"
                                                                                                         data-style="border"
                                                                                                         style="top:100px"/>
                </div>
            </div>
            <div class="p-2">
                <Label style="margin-top:10px; float:left;color:#F5F5F7">Date:&nbsp;</Label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest"
                     style="width:150px;display:flex;">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                           style="background-color:#4a4a4a;color:#e8e8e8" readonly="readonly"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"
                         style="padding-top:0px">
                        <div class="input-group-text" style="line-height:1;background-color:#4a4a4a;color:#e8e8e8"><i
                                class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <Label style="margin-top:10px; float:left;color:#F5F5F7">Time (UT):&nbsp;</Label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest"
                     style="width:110px;display:flex">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                           style="background-color:#4a4a4a;color:#e8e8e8" readonly="readonly"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker"
                         style="padding-top:0px">
                        <div class="input-group-text" style="line-height:1;background-color:#4a4a4a;color:#e8e8e8"><i
                                class="fa fa-clock-o"></i></div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <button class="btn-primary btn" id="draw" onclick="refresh()"
                        style="color: #e6e6e6; background-color: #1d4a71; border-color: #4d79a0;">
                    <i class="fas fa-globe"></i>&nbsp;Plot
                </button>
            </div>
            <div class="p-2">
                <div id="search" class="column esri-component esri-search esri-widget"
                     style="height:37px; width:120px; border: 1px solid transparent; border-radius: 4px; background-color:transparent;color:white!important; "></div>
            </div>
            <div class="p-2">
                <div id="zoom" class="column esri-component esri-search esri-widget"
                     style="height:37px; width:50px;     border: 1px solid transparent; border-radius: 4px;background-color:#4a4a4a;color:#e8e8e8;border-color:#ccc!important"></div>
            </div>
            <div class="p-2">

                <button
                        class="action-button esri-icon-measure-line btn-primary"
                        id="distanceButton"
                        type="button"
                        title="Measure distance between two points"
                        style="color: #e6e6e6; background-color: #1d4a71; border-color: #4d79a0;height:40px; width:40px;         border: 1px solid transparent;        border-radius: 4px;border-color: #2e6da4;"
                ></button>&nbsp;
                <button
                        class="action-button esri-icon-measure-area btn-primary"
                        id="areaButton"
                        type="button"
                        title="Measure area"
                        style="color: #e6e6e6; background-color: #1d4a71; border-color: #4d79a0;height:40px; width:40px;         border: 1px solid transparent;        border-radius: 4px;border-color: #2e6da4;"
                ></button>

            </div>
            <div class="p-2">
                <button class="btn-primary btn" data-toggle="modal" data-target="#exampleModal"
                        style="color: #e6e6e6; background-color: #1d4a71; border-color: #4d79a0;height:40px; width:40px;   ">
                    <i class="far fa-question-circle" style="color: #e6e6e6; "></i></button>
            </div>
        </div>


    </div>
</header>
<header style="background-color: #595f60; color:rgba(255,255,255, 0.6); font-size: 10px;border-top:1px solid rgba(255,255,255, 0.6);border-bottom:1px solid rgba(255,255,255, 0.6);height: 25px;">
    <div class="row" style="width:102%; ">
        <div class="col-sm">
            <div style="border-right: 1px solid rgba(255,255,255, 0.6); height:20px">
                <!--Hemispheric Power (GW): &nbsp;-->
                NorthHPI &nbsp;<span id="NorthHPI" style="color:blue">-</span><span
                    style="color:blue"> &nbsp;GW&nbsp;</span>
                SouthHPI &nbsp;<span id="SouthHPI" style="color:red">-</span><span style="color:red">&nbsp;GW</span>
            </div>
        </div>
        <div class="col-sm">
            <div style="border-right: 1px solid rgba(255,255,255, 0.6); height:20px">
                Solar Wind: &nbsp;
                <span id="density" style="color:red">n/a</span><span style="color:red">&nbsp;#/cc &nbsp;</span>
                <span id="speed" style="color:#6df3a5">n/a</span><span style="color:#6df3a5">&nbsp;km/s</span>
            </div>
        </div>
        <div class="col-sm">
            <div style="height:20px;width:600px; ">
                Interplanetary Magnetic Field (GSM Coordinates) &nbsp;
                <span id="Bx" style="color:#CC9900">n/a</span><span style="color:#CC9900">&nbsp;nT &nbsp;</span>
                <span id="By" style="color:#FF6600">n/a</span><span style="color:#FF6600">&nbsp;nT &nbsp;</span>
                <span id="Bz" style="color:#CC0000">n/a</span><span style="color:#CC0000">&nbsp;nT &nbsp;</span>
                <span id="Lat">n/a</span>&nbsp;&deg;&nbsp;
                <span id="Long">n/a</span>&nbsp;&deg;
            </div>
        </div>
    </div>
</header>
<div class="d-flex bd-highlight"
     style="margin-left:-10px; margin-top:0px; background:#4a4a4a;border-top:1px solid rgba(255,255,255, 0.6);">
    <div class="p-2 flex-fill" style=" background: #3a3a3a;">
        <div style="width:350px; background: #3a3a3a;">
            <div id="chart_text" style="padding-left:-10px">Real Time Charts (UTC)</div>
            <div id="Bz_chart" style="">

            </div>
            <div id="Solar_chart" style="">
                111
            </div>
            <div id="HPI_chart" style="">
                111
            </div>
        </div>

    </div>
    <div class="p-2 w-100">
        <div id="viewDiv" class="viewDiv" style="width:100%; height:640px; background-color:#4a4a4a;padding-top:-10px">
            &nbsp;
        </div>

    </div>

</div>
<div class="container-fluid" style="padding-top:0px">
    <div class="row" style="z-index:100220; background-color:#595f60">


        <div id="loader1" style="position:absolute;z-index:1000; top:50%; left:50%; ">
            <div class="spinner-border">
            </div>
        </div>

        <div id="leg" class="esri-component esri-legend esri-widget esri-widget--panel"
             style="position:absolute;z-index:10001; top: -7px; right:-10px; height:1000000px!important">
            &nbsp;
        </div>


        <div id="parameters" style="display:none">
        </div>


        <div id="optionsDiv">
            <button id="Home" class="nav_butt">Home</button>
            <button id="Northern Hemisphere" class="nav_butt">Northern Hemisphere</button>
            <button id="Southern Hemisphere" class="nav_butt">Southern Hemisphere</button>
            <br/><br/>
            <div id="coordsWidget"
                 style="background-color: transparent; color:rgba(255,255,255, 0.6); font-size: 10px;height: 25px;width:400px;margin-top:10px;margin:0 auto;top:20px">
                Pointer Coordinates:
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Developers:</h6>
                <hr/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <a href="https://ugatu.su/" target="_blank">
                                <img src=" {% static 'images/ugatu.png' %}"
                                     style="width:80px"/>
                            </a>
                        </div>
                        <div class="col-sm">
                            <a href="http://www.gcras.ru/" target="_blank">
                                <img src=" {% static 'images/gc.jpeg' %}"
                                     style="width:80px"/>
                            </a>
                        </div>
                        <div class="col-sm">
                            <a href="https://www.ifz.ru/" target="_blank">
                                <img src=" {% static 'images/ifz-logo.png' %}" style="width:80px"/>
                            </a>
                        </div>
                    </div>
                </div>
                <hr/>
                <h6>Citation:</h6>
                <ul style="font-size:small">
                    <li>Vorobev A. V., V. A. Pilipenko, R. I. Krasnoperov, G. R. Vorobeva, D. A. Lorentzen (2020),
                        Short-term forecast of the auroral oval position on the basis of the ``virtual globe''
                        technology, Russ. J. Earth Sci., 20, ES6001, doi:10.2205/2020ES000721.
                    </li>
                    <li>
                        A.V. Vorobev, V.A. Pilipenko, A.G. Reshetnikov, G.R. Vorobeva, M.D. Belov. Web-oriented
                        visualization of auroral oval geophysical parameters (2020). Scientific Visualization 12.3: 108
                        - 118, DOI: 10.26583/sv.12.3.10

                    </li>
                </ul>
                <hr/>
                <h6>Media about us:</h6>
                <ul style="font-size:small">
                    <li>
                        <a href="https://nat-geo.ru/nature/v-rf-zapustili-servis-avrora-on-prognoziruet-polyarnye-siyaniya/"
                           target="_blank">National Geographic</a>
                    </li>
                    <li>
                        <a href="https://nauka.tass.ru/nauka/8957831" target="_blank">ТАСС</a>
                    </li>

                    <li>
                        <a href="https://iz.ru/1033918/aleksandr-bulanov/svodka-s-nebes-prognoz-severnogo-siianiia-predotvratit-avarii"
                           target="_blank">Известия</a>
                    </li>
                </ul>
                <hr/>
                <h6>Acknowledgment:</h6>
                <span style="font-size:small">
    Исследование выполнено при финансовой поддержке РФФИ в рамках научного проекта № 20-07-00011а, Экспертного центра «Проектный офис развития Арктики» (Договор № 217-Г от13 января 2021 г.), РНФ №№ 16-17-00121, 17-77-20034
</span>
            </div>
            <div class="modal-footer">
                <div style="float:left">
                    <a href="mailto:geomagnet@list.ru">
                        <button type="button" class="btn btn-secondary" onclick="mailto:mail@example.com"><i
                                class="fas fa-envelope"></i></button>
                    </a>
                    geomagnet@list.ru
                </div>
                <div style="float:right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>